@import url('https://fonts.googleapis.com/css?family=Shojumaru');

body {
    background-color: black;
}

.Board {
    position: relative;
    border: 0.4em solid rgb(1, 102, 1);
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(71, 71, 71) 1px, transparent 1px),
        linear-gradient(90deg, rgb(85, 84, 84) 1px, transparent 1px);
}

.Cell {
    background: rgb(1, 102, 1);
    position: absolute;
}

h1 {
    font-family: 'Shojumaru', cursive;
    font-size: 4em;
    text-align: center;
    color: rgb(1, 102, 1);
}

button {
    font-family: 'Shojumaru', cursive;
    font-size: 2em;
    padding: 0.4em;
    border: 0.2em solid rgb(1, 102, 1);
    background-color: transparent;
    text-align: center;
    color: rgb(1, 102, 1);
    position: absolute;
    top: 6em;
    left: 3em;
}
