.board {
    position: relative;
    margin: 0 auto;
    background-color: grey;
    background-image: linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
}
